body
{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;;
}
h1
{
    
    color: #151414;
    font-size: 50px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-bottom: 2%;

}

hr
{
    border-style:dotted none none none;
    width: 10%;
    border-width: 5px;
    
    
    border-color: gray;
    margin: 0 0 0 45% ;
    
}
.circular
{
    border-radius: 50%;
}

.link:hover
{
    color: rgb(0, 0, 61);

}
.link
{
    color: #007254;
    text-decoration: none;
}

.head
{
    background-color: #ECF9FF;
    max-height: fit-content;
    margin: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
}
.myname{
    margin:0;
}
.col2{
padding-left: 2%;
}
.head-text{
    margin: 1% 0%;
}
.aboutme-text{
    font-weight: 600;
}

.mylinks{
    text-decoration: none;
    color: #007254;
}
.mylinks:hover{
    color: rgb(0, 0, 61);
}
.body-1
{
    background-color: #F0FFC2;
    
    text-align: center;
    
    padding: 0% 5% 2% 5%;
    
}

.body-head{
    padding-top: 2%;
    margin:0;
}
.hobbiescol{
    width: 10%;
}
.hobby-img:hover{
    transform: scale(1.05);
}
.body-2
{
    
    background-color: #FFF2F2;
    
    padding-left: 20px;
    
}
.edu
{
    margin:0% 30%;
    padding-bottom:5%;  
    border-spacing: 0 15px;

}
.edu-head{
    font-weight: 500;
}
.edu-text{
    margin-top: 0%;
    padding-left: 5%;
}
.edulist{
    list-style-type:circle;
    font-size: 18px;
}
.end
{
    
    margin-top: 0px;
    background-color: #395B64;
    margin-bottom: 0px;
    padding-bottom: 50px;
    color: rgb(226, 226, 226);
}
.end-head{
    padding-top: 2%;
    margin:0;
    color: white;
}
.achieve-table{
    margin:0% 12%;
    font-size: 20px;

    /* for setting the horizontal and vertical cell spacing*/
    border-spacing: 100px 20px;
}
.datecol{
    text-align: center;
}
.text
{
    font-size: 20px;
   
    
}
.text-head
{
    font-size: 30px;
}




.Contact
{
    background-color: #BFFFF0;
    padding-top: 10px;
}

.Conc
{
    padding-left: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form
{
    background-color:#F0FFC2;
    padding-top: 16px;
    padding-bottom: 10px;
}

#rights
{
    background-color: rgb(20, 19, 19);
    color: white;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 13px;
}

.rights-pic
{
    padding-bottom: 1px;
    padding-left: 5px;
    width: 30px;

}